<div class="page">
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth">Currently available Speech-To-Text Languages:</h4>
		<p class="m-1">{{ projectDataService.getSttModels() | async }}</p>
	</div>
	
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth">Currently available Text-To-Speech Languages:</h4>
		<p class="m-1">{{ projectDataService.getTtsModels() | async }}</p>
	</div>
</div>
  