<div class="page">
	<div style="height: 100%;" class="flex column between_horizontal">
		
		<iframe src="https://botdashboard.tilde.ai/"></iframe>
		
		<div >
			<table class="dm_conversation_table" id="dm_conversation_table">
				<tr>
					<th>User Command</th>
					<th>Expected Bot Answer</th>
				</tr>
			</table>
		</div> 
	
	 
		<div class="flex between_horizontal">
			 <textarea id="dm_message_input" style="width: 100%; margin: 1vh 1vw 1vh 0; font-size: 2vh;"></textarea>
			 <button (click)="retrieveConversation()" style="margin: 1vh 0;" class="btn btn-4 btn-sep">Send Message</button>
		</div>
	</div>
</div>

