/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  
}

.flex {
	display: flex;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.center_vertical {
	align-items: center;
} 

center_stretch {
	align-items: stretch;
}

.start_horizontal {
	justify-content: flex-start;
}

.between_horizontal {
    justify-content: space-between;	
}
  
.headerwidth {
	width: 40%;
}
  
.page {
	margin: 2vh 2vw;
    height: 61vh;
    font-size: 2vh;
	overflow-y: auto;
}

.consoleText {
	color: white;
	font-family: arial, "lucida console", sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



.deleteRowBtn {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	height: 2vh;
    width: 100%;
}

.btn {
	border: none;
	width: 14vw;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 1.5vh;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 0.5vh 0.5vw;
	display: inline-block;
	margin: 0.5vh 0.5vw;
	min-height: 5vh;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	word-break: break-word;
}

.btn .menubtn {
	margin: 1vh 1vw;
}

.btn:disabled {
	background: gray;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
	padding: 1vh 1vw 1vh 2vw;
}

.btn-sep:before {
	background: rgba(0,0,0,0.15);
}

.btn-4 {
	background: #34495e;
	color: #fff;
}

.btn-4:disabled:hover {
	background: darkgrey;
}

.btn-4:hover {
	background: #007181;
}

.btn-4:active {
	background: #007181;
	opacity: 0.7;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 18vw;
}

.m-1 {
	margin: 1vh 1vw;
}